{% extends 'layouts/default.njk' %}
{% from 'includes/image.njk' import image %}

{% block content %}
  {% for isbn, book in [] %}
    <b>{{ book.bib_key }}</b>
    {{ image(book.thumbnail_url) }}

    {{ ['1', '2', '3'] | richText }}
  {% endfor %}

  {% for fact in sencha.store.get('cat.facts') %}
    <p>{{ fact.text | await }}</p>
  {% endfor %}
{% endblock content %}
