{% extends 'layouts/default.njk' %}
{% from 'partials/image.njk' import image %}

{% block content %}
  {% for isbn, book in sencha.fetch('https://openlibrary.org/api/books?bibkeys=ISBN%3A0201558025%2CLCCN%3A93005405&format=json') | await %}
    <b>{{ book.bib_key }}</b>
    {{ image(book.thumbnail_url) }}

    {{ ['1', '2', '3'] | richText }}
  {% endfor %}

  {% for fact in sencha.store.get('cat.facts') %}
    <p>{{ fact.text | await }}</p>
  {% endfor %}
{% endblock content %}
